.nav {
	padding: 0 10px;
	background: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 55px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		height: 100%;
		li {
			margin: 0 10px;
			display: flex;
			align-items: center;
			a {
				display: block;
				padding: 7px 10px;
				border: 1px solid #777;
				text-decoration: none;
				&:hover {
					border-color: #000;
					text-decoration: none;
				}
			}
		}
	}
}
