h2 {
	font-size: 2em;
}
form {
	margin: auto;
	max-width: 800px;
	& > div {
		margin-bottom: 25px;
	}
}
input, textarea, button {
	display: block;
	width: 100%;
	padding: 9px;
	font-size: 18px;
	border: 1px solid #555;
	border-radius: 0;
	background: transparent;
	appearance: none;
	color: #a9a9a9;
}
textarea {
	min-height: 125px;
}
button, a[role^="btn"] {
	border: 2px solid #555;
	border-radius: 0;
	appearance: none; 
	padding: 10px 20px;
	font-size: 16px;
	color: #666;
	font-weight: 400;
	letter-spacing: 1px;
	&:hover {
		border-color: #3f7390;
		cursor: pointer;
		text-decoration: none;
	}
	&:active {
		background: #252525;
	}
	&[disabled] {
		cursor: initial;
		&:hover {
			border-color: #555;
		}
	}
	&[role="btn-sm"] {
		width: auto;
		font-size: 0.8em;
		padding: 8px 17px;
	}
}
.main {
	section {
		margin-top: 50px;
	}
}
.narrow {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}
.contactForm {
	max-width: 1000px;
	margin: auto;
}
.firstSection {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.budgeterLogo {    
	background: transparent;
	font-family: 'Bitter';
	border: 1px solid #008840;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	position: relative;
	.dollar {
    position: absolute;
    font-size: 80px;
    color: #008840;
    opacity: .5;
    top: -12px;
    left: 8px;
	}
	.b {
    font-size: 75px;
    color: #008840;
    position: absolute;
    top: -6px;
    left: 16px;
	}
}
.podsyLogo {
	width: 90px;
	height: 90px;
}
.jahLogo {
	background: #000;
	width: 100px;
	height: 80px;
	max-width: 100px;
	max-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.4;
	letter-spacing: 3px;
	span {
		color: #eee;
		font-family: 'Roboto Slab';
		font-size: 30px;
	}
}

@media (min-width: 1025px) {
	.main section:not(.firstSection) {
		margin-top: 125px;
	}
}
