.main section {
	margin-top: 50px;
}
.narrow {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}
.firstSection {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.imagesContainer {
	img {
		display: block;
		float: left;
		width: 50%;
		height: 300px;
	}
	&:after {
		content: ' ';
		display: block;
		clear: both;
	}
}

@media (min-width: 1025px) {
	.main section {
		margin-top: 75px;
	}
}
