html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
	padding: 55px 0 0 0;
	font-family: 'Lato', sans-serif;
	background: #000;
	color: #999;
}
a {
	color: #999;
	text-decoration: none;
}
a:not(.plain):hover {
	text-decoration: underline;
}
