html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
	padding: 75px 0 0 0;
	background: #000;
	color: #999;
}
body, input, textarea, button {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
a {
	color: #999;
	text-decoration: none;
}
a:not(.plain):hover {
	text-decoration: underline;
}
.loading {
	margin: 50px auto;
	max-width: 300px;
	text-align: center; 
}
