.summary {
  color: #bbb;
  div {
    color: #777;
    margin: 35px 0;
    font-size: 0.9em;
  }
}
.body {
	line-height: 1.5em;
	font-size: 1.2em;
	code {
		font-size: 16px;
		line-height: 21px;
	}
	a {
		font-weight: bold;
	}
}
.btnContainer {
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
}
