.wrapper {
	padding: 0 20px;
}
.summary {
	small {
		color: #aaa;
		font-size: 18px;
		float: right;
		margin-top: 9px;
	}
}
.body {
	line-height: 1.5em;
	font-size: 1.2em;
	a {
		font-weight: bold;
	}
}
.btnContainer {
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
}
