.summary {
	small {
		color: #aaa;
		font-size: 18px;
		float: right;
		margin-top: 9px;
	}
}
.content {
	font-size: 21px;
	white-space: pre-wrap;
}
.btnContainer {
	padding: 5px 10px;
	display: flex;
	justify-content: flex-end;
}
