.title {
  margin: 0;
  padding: 15px;
}
.btnContainer {
	padding: 10px 20px;
	display: flex;
	justify-content: flex-end;
}
.list {
	margin: 0;
	padding: 0;
	list-style: none;
	li a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 15px;
		border-bottom: 1px solid #222;
		&:hover {
			text-decoration: none;
			.title {
				text-decoration: underline;
			}
		}
	}
}
